@font-face {
    font-family: 'body-font';
    font-weight: 300;
    src: url('SourceSansPro-Light.otf') format('woff');
}
@font-face {
    font-family: 'body-font';
    font-weight: 400;
    src: url('SourceSansPro-Regular.otf') format('woff');
}
@font-face {
    font-family: 'body-font';
    font-weight: 500;
    src: url('SourceSansPro-SemiBold.otf') format('woff');
}

:root {
    --page-hue: 270;
    --link-hue: calc(360 - var(--page-hue));
}

* {
    box-sizing: border-box;
    border: none;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
    margin: 0;
    outline: none;
    padding: 0;
}

html {
    background: linear-gradient(165deg, hsla(var(--page-hue), 25%, 5%, 0.9), hsla(var(--page-hue), 25%, 20%, 0.9), hsla(var(--page-hue), 25%, 20%, 0.9), hsla(var(--page-hue), 25%, 10%, 0.9)), url('noise.png');
    background-attachment: fixed;
    background-size: 100vw 100vh, auto;
    color: hsl(var(--page-hue), 70%, 95%);
    display: grid;
    font-family: 'body-font', 'source sans pro';
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
    min-height: 100vh;
    text-shadow: 0.1rem 0.1rem 0.2rem hsla(0, 0%, 0%, 0.33);
}

body {
    align-self: center;
    max-width: 40rem;
    padding: 10rem 5rem;
    justify-self: center;
    overflow-x: hidden;
}

h1 {
    align-items: center;
    display: flex;
    font-size: 1.9rem;
    font-weight: 300;
    line-height: 1;
    margin: 1rem 0 1rem -4rem;
}

h1:before {
    background: url('logo.png') no-repeat;
    background-size: contain;
    background-position: center;
    content: '';
    display: block;
    height: 3rem;
    margin: -1rem 1rem -1rem 0;
    min-width: 3rem;
    width: 3rem;
}

h2 {
    font-size: 1.7rem;
    font-weight: 300;
    line-height: 1;
    margin: 3rem 0 1rem 0;
}

h3 {
    font-size: 1.3rem;
    font-weight: 300;
    line-height: 1;
    margin: 3rem 0 1rem 0;
}
h2 + h3 {
    margin-top: -0.5rem;
}

a {
    color: hsl(var(--link-hue), 70%, 75%);
}
a:hover {
    color: hsl(var(--link-hue), 70%, 90%);
}

em {
    color: hsl(var(--page-hue), 60%, 80%);
}

img.emoji {
    height: 1.2rem;
    vertical-align: middle;
}

p {
    margin: 1rem 0;
}

ol {
    counter-reset: first;
}
ol li {
    list-style: none;
}
ol li:before {
    content: counter(first) '.';
    counter-increment: first;
    color: hsl(var(--page-hue), 70%, 85%);
    display: inline-block;
    float: left;
    margin-left: -5.2rem;
    padding-right: 0.2rem;
    text-align: right;
    width: 5rem;
}
ol ol {
    counter-reset: second;
    margin-left: 2rem;
}
ol ol li:before {
    content: counter(first) '.' counter(second) '.';
    counter-increment: second;
}

ul > li {
    list-style: none;
    margin-left: -1.25rem;
    padding-left: 1.25rem;
}
ul > li:before {
    color: hsl(var(--page-hue), 70%, 85%);
    content: '–';
    display: block;
    float: left;
    margin-left: -1.25rem;
    text-align: right;
    width: 1em;
}

dl dt {
    color: hsl(var(--page-hue), 70%, 85%);
    display: list-item;
    list-style: disc;
}
dl dd p:first-child {
    margin-top: 0;
}